body {font-family: 'Poppins', sans-serif;
    color: #1c1c1c;
}

h1,h2,h3 {
font-family: 'Poppins', sans-serif;
color: #002328;
}
.botao {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #002328;
    font-size: .9em;
    border-radius: 3px;

}
/*Navegação*/

nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
}

nav a {

    text-decoration: none;
    color: #002328;
    font-weight: 20;
    font-size: 20px;
    font-family: "poppins", serif;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        width: 100%;
    }

    nav ul li {
        text-align: center;
        width: 100%;
    }
    nav ul li a {
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        text-decoration: none;
        color: #002328;
    }
    /*cabeçalho*/

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../imagem.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #002328;
        text-align: center;
        padding:60px;
        }
        header h1 {
        color: #002328;
        }
    header p{
        margin-bottom: 2em;
    }    
    #sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        padding: 10px 10px 20px 20px;
        background-color: #FFFFFF;
        color: #080808;
    }
    #sobre h2 {
        color: #080808;
    }
    #sobre p {
        margin-bottom: 2.5em;
        max-width: 1000px;
    }
    #sobre .botão{
        background-color: #f1f1f1;
        color: #1c1c1c;
    }
    /*serviços*/

    #serviços{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    #serviços div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    #img-artigos{
        text-align: center;

    }
    /*Artigos*/

    #artigos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
        #artigos div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }

         #contato {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px;
         }
         #contato h2 {
             color: #000000;
         }
         footer {
             text-align: center;
             padding: 10px;
             background-color: #002025;
             color: #FFFFFF;
         }
         footer a {
             text-decoration: none;
             color: #00FFFF;
         }
         @media screen and (min-width: 768px) {
             /*nav*/
             nav{
                 flex-direction: row;
                 justify-content: space-around;
             }
             nav ul {
                flex-direction: row;
                width: 70%;
             }
             /*Cabeçalho*/
             header {
                 height: 600px;
                 height: 60vh;
                 justify-content: center;
                 }
                 /*Sobre*/
                 #sobre{
                     height:250px;
                     height: 30vh;
                     justify-content: center;
                    min-height: 250px;
                 }
                 /*Serviços*/

                 #serviços {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    max-width: 1000px;
                    margin: 0 auto;
            }

            #serviços h2 {
                text-align: cente;
                width: 100%;
            }

            #serviços div {
                flex-grow: 1;
                flex-basis: 150px;
                padding: 0 10px;
            }
            /*imagem artigos*/
            #img-artigos{
                text-align: center;

            }
            /*artigos*/
            
            #artigos {
                padding: 50px;
                text-align: justify;
                flex-direction: row;
                     flex-wrap: wrap;
                     align-items: flex-start;
                     max-width: 1000px;
                     margin: 0 auto;
                     margin-left: auto;
                     margin-right: auto;

            }
            #artigos h2 {
                margin-bottom: 20px;
                text-align: center;
                width: 100%;
            }
          #artigos p {
                margin-bottom: 2.5em;
                max-width: 1000px;
            }
          #artigos .botão{
                background-color: #f1f1f1;
                color: #1c1c1c;
            }
            #artigos div {
                flex-grow: 1;
                flex-basis: 150px;
                padding: 0 10px;
            }

        
            /*Contato*/
             #contato {
                 flex-direction: row;
                 flex-wrap: wrap;
                 justify-content: space-around;
                 max-width: 500px;
                 margin: 0 auto;
             }
             #contato h2, #contato p {
                 width: 100%;
             }

             
         }
